<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iterasyon gösterimi</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Yas</th>
            <th>size</th>
            <th>count</th>
            <th>index</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="ogr : ${ogrenciiter}">
                <strong> <td th:text="${ogr.ad}"></td></strong>
                <strong> <td th:text="${ogr.soyad}"></td></strong>
                <strong> <td th:text="${ogr.yas}"></td></strong>
                <strong> <td th:text="${ogr.ozellik1}"></td></strong>
                <strong> <td th:text="${ogr.ozellik2}"></td></strong>
                <strong> <td th:text="${ogr.ozellik3}"></td></strong>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>